@font-face {
	font-family: Menlo;
    src: url(Menlo.ttcf);
    

}


body {
	height: 100%;
	text-align: right-justify;
	width: 100%;
	font-family: Menlo;
	font-size: 1.2rem;
}

/*.navbar {
    background-color: #333;
    overflow: hidden;
    padding: 140px 16px;
}


.drop-button {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}*/





.title {
	margin-left: 20rem;

}

.subtitle {
	margin-left: 24rem;
}

.main-text {
	margin-left: 28rem;
	margin-right: 20rem;

}

.questions {
	margin-left: 32rem;
	margin-right: 20rem;

}


span.pop-up {
	border-bottom: thin dotted;
}

span.pop-up:hover {
	z-index: 6;
}

span.pop-up span {
	position: absolute;
	left: -9999px;
	z-index: 6;
}

span.pop-up:hover span {
	left: 2%; background: red;
} 

span.pop-up span {
	position: absolute;
	left: -9999px;
}

span.pop-up:hover span {
	margin: 20px 0 0 170px;
	z-index:6;
} 