@font-face {
	font-family: Menlo;
    src: url(Menlo.ttcf);
}


body {
	height: 100%;
	text-align: right-justify;
	width: 100%;
	font-family: Menlo;
	font-size: 1.2rem;


}

.title {
	margin-left: 20rem;

}

.subtitle {
	margin-left: 24rem;
}

.text {
	margin-left: 28rem;
	margin-right: 24rem;

}

.questions {
	margin-left: 32rem;
	margin-right: 20rem;

}



span.pop-up {
	border-bottom: thin dotted;
}

span.pop-up:hover {
	z-index: 6;
}

span.pop-up span {
	position: absolute;
	left: -9999px;
	z-index: 6;
}

span.pop-up:hover span {
	left: 2%; background: red;
} 

span.pop-up span {
	position: absolute;
	left: -9999px;
}

span.pop-up:hover span {
	margin: 20px 0 0 170px;
	z-index:6;
} 