@media print {

  /* header, footer, header[role="banner"] {
    display: none;
  } */

  #button-header {
    display: none !important;
  }

  #info-web {
      display: none !important;
  }

  #info {
    width: 100% !important;
    display: inline-block !important;
    padding: 0 !important;
  }

  #info p {
    font-family: 'VerilySerifMono';
    text-transform: uppercase;
    font-size: 14pt;
    line-height: 6mm !important;
    margin-bottom: 0 !important;
    margin-top: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  @page {
    margin-top: 6mm;
    margin-bottom: 9mm;
    margin-right: 6mm;
    margin-left: 6mm;
  }

  #container {
    width: 100%;
    margin: 0px;
    padding: 0px;
    border: none !important;
  }

  body {
    width: 100%;
    margin: 0;
    padding: 0;
    border: none !important;
    float: none !important;
    color: black;
    background: transparent;

    line-height: 6mm !important;
  }

  #main-text {
    position: relative !important;
    padding: 0 !important;
    width: 100% !important;
    max-width: 100% !important;
  }

  #main-text p {
    padding-left: 87mm !important;
    padding-right: 0 !important;
    text-indent: 6mm;
    margin: 0 !important;

    font-family: 'Big Caslon';
    font-weight: normal;
    font-size: 14.5pt;
    text-align: left;

  }

  #main-text sup {
    line-height: 0 !important;
  }

  .footnote {
    color: #939597;
    font-family: 'VerilySerifMono';
    font-size: 7pt;
    text-decoration: none;
    font-weight: normal;
  }

  .footnote:focus, .footnote:hover {
    color: yellow;
  }

  #main-text p:first-of-type, #main-text blockquote+p {
    text-indent: 0;
  }

  #main-text p, #main-text blockquote {
    hyphens: auto;
  }

  #main-text blockquote {
    margin: 0 !important;
    color: #939597;
    font-style: italic;
    padding-left: 6mm;
  }

  #main-text blockquote p+p {
    text-indent: 0;
  }

  #main-text blockquote p a {
    font-style: normal;
    text-decoration: none;
  }

  /* blockquote, p {
    orphans: 3;
    widows: 3;
    hyphens: auto;
  } */
/* maybe use for page break */
  /* h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
  	padding-top: 0;
  } */
/* maybe use for page break */
  /* section p:first-of-type::first-line {
    color: red;
    text-indent: -5cm;
  } */

  /* not working */
  /* h1+p, h2+p, h3+p, h4+p, h5+p, h6+p {
    page-break-before: avoid;
  } */

  h1, h2, h3, h4, h5, h6, .headers, #title, .index-number {
    font-weight: normal !important;
    line-height: 0 !important;
    margin-bottom: 0 !important;
    margin-top: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    /* page-break-after: avoid; */
    /* page-break-inside: avoid; */
    /* background-color: yellow; */
  }

  h1 {
    font-size: 14pt !important;
    margin-left: 0;
  }

  h2 {
    font-size: 14pt !important;

    margin-left: 6mm !important;
  }

  h3 {
    font-size: 12pt !important;

    margin-left: 12mm !important;
    /* padding-top: 2pt; */
  }

  h4 {
    font-size: 10pt !important;

    margin-left: 18mm !important;
    /* padding-top: 4pt; */
  }

  h5 {
    font-size: 9pt !important;

    margin-left: 24mm !important;
    /* padding-top: 5pt; */
  }

  h6 {
    font-size: 8pt !important;

    margin-left: 30mm !important;
    /* padding-top: 6pt; */
  }

  section {
    /* border-top: 1pt solid #939597; */
  }

  /* #title, .headers {
    border-top: 1pt solid #939597;
    border-left: 1pt solid #939597;
  } */

  #main-text #title::before, #main-text h2::before, #main-text h3::before {
    content: "";
    white-space: pre;
  }

  #main-text h4::before {
    content: "   ";
    white-space: pre;
    font-size: 14pt;
  }

  #main-text h5::before {
    content: "   ";
    white-space: pre;
    font-size: 14pt;
  }

  #main-text h6::before {
    content: "   ";
    white-space: pre;
    font-size: 14pt;
  }

  /* #main-text #title::after, #main-text .headers::after {
    content: "";
    white-space: pre;
  } */

  #title, .headers, .index-number, .title-index-number {
    display: inline !important;
    font-family: 'VerilySerifMono';
    text-transform: uppercase;
    color: black;
  }

  .index-number, .title-index-number {
    float: none !important;
  }

  .index-number::after, .title-index-number::after {
    content: " ";
    white-space: pre;
    /* border-left: 1px solid rgb(217, 217, 217); */
  }

  #footnotes {
    height: 100% !important;
    width: 87mm !important;

    padding: 0 !important;
    margin: 0 !important;

    position: relative !important;
    bottom: 0;
    overflow-y: auto;
    background-color: transparent !important;
    /* text-align: left !important; */
  }

  #footnotes ol {
    font-family: 'VerilySerifMono' !important;
    font-size: 7.2pt !important;
    line-height: 3mm !important;
    color: #939597 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin: 0 !important;
    padding-left: 6mm !important;
  }

  #footnotes li {
    padding: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 3mm !important;
    line-height: 3mm !important;

    /* margin-bottom: 3mm !important; */
  }

  #footnotes a {
    text-decoration: none;
    font-weight: normal !important;
    line-height: 0 !important;
  }

  #footnotes p, #footnotes a {
    color: inherit !important;
  }

  #footnotes a[href^=http]:after {
    content:" [" attr(href) "] ";
    font-size: 85%;
    line-height: 0 !important;
  }

  #footnotes img {
    max-width: 75mm;
    padding: 0;
    margin: 0;
    border: 0;
  }

  a:target {
    border:0;
    outline: 0;
    cursor: pointer;
  }

}

@font-face {
  font-family: 'VerilySerifMono';
    src: local('fonts/VerilySerifMono');
    src: url(.VerilySerifMono.otf) format('opentype'),
         url('fonts/VerilySerifMono-webfont.eot');
    src: url('fonts/VerilySerifMono-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/VerilySerifMono-webfont.woff2') format('woff2'),
         url('fonts/VerilySerifMono-webfont.woff') format('woff'),
         url('fonts/VerilySerifMono-webfont.ttf') format('truetype'),
         url('fonts/VerilySerifMono-webfont.svg#verily_serif_monobook') format('svg');
    font-weight: normal;
    font-style: normal;
}


@media print and (color) {
   * {
      -webkit-print-color-adjust: exact;
      print-color-adjust: exact;
   }
