
html {
	box-sizing: border-box;
}

#button-header {
	/* background-color: black; */
	position: fixed;
	top: 0;
	right: 0;
	width: 320px;
	height: 40px;
	padding-top: 1.35em;
	padding-left: 1em;
	padding-right: 1em;
	/* padding inside margin outside */
}

#container {
  position: relative;
	margin-top: 4em;
	width: 100%;
}

#main-text {
	float: left;
	position: absolute;
	width: 65%;
	max-width: 65em;
	min-width: 57em;
	padding-bottom: 1em;
	/* background-color: black; */
}

/*  footnotes div*/
#footnotes {
	width: 320px;
	height: 100%;
	padding-left: 1em;
	padding-right: 1em;
	overflow-wrap: break-word;

	position: fixed;
	right: 0;
	overflow-y: scroll;

	background-color: #f8f8f8;
	/* background-color: yellow; */

}

#footnotes li {
	padding-left: 0;
	margin-bottom: 1em;

}

#footnotes ol {
	margin-top: 0;
}

#footnotes a {
	text-decoration: none;
	font-weight: bold;
}

#footnotes p {
	display: inline;
}

#footnotes img {
	max-width: 280px;
	min-width: 250px;
	vertical-align: text-top;
}

#footnotes, #footnotes a, #footnotes p, sup a {
	text-decoration: none;
	color: #4da24b;
}

/* #footnotes:hover, #footnotes a:hover, #footnotes p:hover, sup a:hover {
	text-decoration: none;
	color: #a0a1a7;
} */


.footnote-on-hover {
	color: #9ec47b;
	/* background-color: yellow; */
}

body {
	color: #a0a1a7;
	background-color: #f8f8f8;
	font-family: 'Source Code Pro';
	line-height: 1.4375rem;
	cursor: default;
	font-size: 1.125rem;
}

a {
	text-decoration: none;
}

#main-text p, #main-text li {
	padding-right: 5em;
	padding-left: 4.8em;
}

.headers, #title {
	display: inline;
}

section h1:last-of-type:before {
	content: "      ";
	white-space: pre;
}

section h2:last-of-type:before {
	content: "     ";
	white-space: pre;
}

section h3:last-of-type:before {
	content: "    ";
	white-space: pre;
}

section h4:last-of-type:before {
	content: "   ";
	white-space: pre;
}

section h5:last-of-type:before {
	content: "  ";
	white-space: pre;
}

section h6:last-of-type:before {
	content: " ";
	white-space: pre;
}

body h1, body h2, body h3, body h4, body h5, body h6 {
	font-size: 1.125rem;
	color: #a81ba6;
	font-weight: bold;
	display: block;
}

.index-number {
	float: right;
}

.hash {
	color: #a0a1a7;
}

h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
	padding-top: 0;
}

h1:hover {
	cursor: pointer;
}

h2:hover, h3:hover, h4:hover, h5:hover, h6:hover {
	color: #a0a1a7;
	cursor: pointer;
}

.title-on-hover {
	color: #a0a1a7;

}







button {
	margin-right: 0;
	margin-left: 2em;
	padding-left: 0;
	width: 3.5em;
	height: 1.1em;
	float: left;
	display: inline;

	border-style: solid;
	border-color: #f8f8f8;
	color: #a0a1a7;
	background-color: #f8f8f8;
	font-family: 'Source Sans- Pro', sans-serif;
	font-size: 1.125rem;
	letter-spacing: 0.35px;

}

button:hover {
	/* color: #f8f8f8;
	background-color: #a0a1a7; */
	font-weight: bold;
	cursor: pointer;
}

button:focus {
	outline: none; }
