/*
 Ulysses WordPress Preview: WP Twenty Seventeen
 */


html {
	box-sizing: border-box;
}

body {
	/*color: #abb2bf;*/
	color: #212025;
	background: #fafafa;
	/*background: #212025;*/
	padding: 2.5em 2em 2.5em 2em;
	line-height: 1.4375rem;
	font-family: 'Source Code Pro';
}

a {
	text-decoration: none;
}


h1, h2, h3, h4, h5, h6, p {
	font-size: 1.125rem;
	font-weight: 400;
	margin-left: 2em;
	margin-right: 17em;

}
h1, h2, h3, h4, h5, h6 {
	color: #deab6a;
}

p {
}


*, *:before, *:after {
	box-sizing: inherit;
}

article {
	position: relative;
	word-wrap: break-word;
	margin-left: auto;
	margin-right: auto;
	max-width: 700px;
}

article:after {
	clear: both;
	content: "";
	display: block;
}

h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
	padding-top: 0;
}


.markdown {
	color: red;/*#C0C0C0;*/
/*	color: #9ec47b
*/}

div a img {
	float: left;
	margin-bottom: 0.5em;
	margin-left: 0.2em

}

/*text items*/

.ref-text {
	color: #9ec47b;
}

/*ref items*/
.ref-item {
	float: right;
	margin-right: -2em;
	z-index: 999;
	background-color: yellow;
	width: 13em;
	font-size: 1rem;
	color: black;
}

img {
	max-height:100%;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

figcaption {
	color: pink;
	font-size: 1.125rem;
	font-style: italic;
	text-align: center;
	margin-top: 3em;
}

.small-solaris {
	float: right;
	width: 10rem;
	height: 7rem;
	overflow: hidden;
    text-overflow: clip;
    border: #9ec47b 1px solid;
}

.big-solaris {
	width: 100%;
    bottom: 0;
    top: 0;
    left: 0;
	position: fixed;
	z-index: 999;
    /*border: 2px solid green;*/
	background-color: gray;
	opacity: 50%;
}

.small-gun {
	float: right;
	width: 10rem;
	height: 7rem;
	overflow: hidden;
    text-overflow: clip;
    border: #9ec47b 1px solid;
}

.big-gun {
	width: 100%;
    bottom: 0;
    top: 0;
    left: 0;
	position: fixed;
	z-index: 999;
    /*border: 2px solid green;*/
	background-color: gray;
	opacity: 50%;
}

.small-shrine {
	float: right;
	width: 10rem;
	height: 7rem;
	overflow: hidden;
    text-overflow: clip;
    border: #9ec47b 1px solid;
}

.big-shrine {
	width: 100%;
    bottom: 0;
    top: 0;
    left: 0;
	position: fixed;
	z-index: 999;
    /*border: 2px solid green;*/
	background-color: gray;
	opacity: 50%;
}

.small-smoke {
	float: right;
	width: 10rem;
	height: 7rem;
	overflow: hidden;
    text-overflow: clip;
    border: #9ec47b 1px solid;
}

.big-smoke {
	width: 100%;
    bottom: 0;
    top: 0;
    left: 0;
	position: fixed;
	z-index: 999;
    /*border: 2px solid green;*/
	background-color: gray;
	opacity: 50%;
}

.small-facebook {
	float: right;
	width: 10rem;
	height: 7rem;
	overflow: hidden;
    text-overflow: clip;
    border: #9ec47b 1px solid;
}

.big-facebook {
	width: 100%;
    bottom: 0;
    top: 0;
    left: 0;
	position: fixed;
	z-index: 999;
    /*border: 2px solid green;*/
	background-color: gray;
	opacity: 50%;
}





/* FONTS */



